html {
  box-sizing: border-box;
  height: 100%;
  font-family: TenbyFive;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  height: 100%;
  margin: 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #e6e6e6;
}

header {
  display: flex;
  flex: 0 0 auto;
  padding: min(1rem, 5vh);
  height: min(75px, 20%);
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  font-weight: bold;
  box-shadow: 0px 2px 0px 1px white;
  background-color: #14279b;
  color: #e6e6e6;
}
.header_span,
.footer_span {
  text-align: center;
  user-select: none;
}
.header_icon {
  color: #e6e6e6;
  font-size: xx-large;
  margin-right: 1vh;
}
footer {
  display: flex;
  flex: 0 0 auto;
  height: min(75px, 20%);
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  box-shadow: 0px -2px 0px 1px white;
  background-color: #14279b;
  color: #e6e6e6;
}
.footer_icon {
  color: #e6e6e6;
  font-size: x-large;
  margin-right: 1vh;
}
.footer_icon:hover {
  color: white;
  animation: spin 0.5s linear;
}
.box_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}
.userbox {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.logbox {
  border-style: solid;
  border-color: #14279b;
  border-radius: 5px;
  background-color: #e6e6e6;
  width: 30vw;
  height: 100%;
  margin: 0 1.5vw;
  overflow: auto;
}
ul {
  margin: 1em;
  padding-left: 0px;
  list-style-type: none;
}
.score_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30%;
}
.left-box,
.right-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6e6e6;
}
.playerlogo,
.optionlogo {
  font-size: xx-large;
}
.container {
  display: flex;
  height: 70%;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
}
.playeroption {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #e6e6e6;
}
h1,
h2,
h3 {
  text-align: center;
  user-select: none;
  cursor: pointer;
  margin: 0px;
}
.userHover {
  background-color: whitesmoke;
  cursor: pointer;
}
.win {
  background-color: cyan;
  transition: all 0.4s;
}
.lost {
  background-color: red;
  transition: all 0.4s;
}
.draw {
  background-color: yellow;
  transition: all 0.4s;
}
.clear {
  clear: both;
}
@media only screen and (min-width: 700px) and (max-width: 1000px) {
  .box_wrapper {
    flex-direction: column;
    padding: 0.5em;
    margin: auto;
    height: 70vh;
    width: 50vw;
  }
  .userbox {
    height: 25%;
    width: 100%;
  }
  .logbox {
    width: 100%;
    height: 30%;
    margin: 1rem 0rem;
  }
}
@media only screen and (max-width: 700px) {
  .header_icon,
  header,
  .playerlogo,
  .optionlogo,
  h1,
  h2 {
    font-size: x-large;
  }
  footer,
  .footer_icon {
    font-size: medium;
  }
  .box_wrapper {
    flex-direction: column;
    padding: 0.5em;
    margin: auto;
    height: 70vh;
    width: 90vw;
  }
  .userbox {
    height: 30%;
    width: 100%;
  }
  .logbox {
    height: 30%;
    width: 100%;
    margin: 1rem 0rem;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@font-face {
  font-family: "TenbyFive";
  src: url("../fonts/tenby-five-webfont.otf"),
    url("../fonts/tenby-five-webfont.eot"),
    url("../fonts/tenby-five-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/tenby-five-webfont.woff2") format("woff2"),
    url("../fonts/tenby-five-webfont.woff") format("woff"),
    url("../fonts/tenby-five-webfont.ttf") format("truetype"),
    url("../fonts/tenby-five-webfont.svg#TenbyFive") format("svg");
  font-weight: normal;
  font-style: normal;
}
